@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
	height: fit-content;
	z-index: 3;
	width: 100%;
	max-width: 640px;
	background-image: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		radial-gradient(at 97% 21%, rgba(214, 5, 5, 1) 0px, transparent 50%),
		radial-gradient(at 52% 99%, rgba(214, 5, 5, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, rgba(234, 200, 31, 1) 0px, transparent 50%),
		radial-gradient(at 97% 96%, rgba(6, 120, 8, 1) 0px, transparent 50%),
		radial-gradient(at 33% 50%, rgba(234, 200, 31, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, rgba(234, 200, 31, 1) 0px, transparent 50%);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(150px) saturate(150%);
	top: 80px;
	opacity: 0.15;
}
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app {
	@apply w-full flex flex-col mx-auto max-w-full;
}
.nav {
	@apply flex justify-between;
}

.hero-fancy-text {
	position: relative;
}
.hero-fancy-text::after {
	content: url('../public/assets/fancy-underline.svg');
	position: absolute;
	left: 68px;
	bottom: -40px;
}
.input {
	@apply rounded-[6px] border-primary border w-full py-[0.3rem] px-[0.75rem] h-[3.4375rem];
}
input::placeholder,
select {
	color: rgba(0, 101, 254, 1);
	line-height: 1.125rem;
	font-size: 0.75rem;
}

.contain {
	background: 
		linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
	);
	z-index: 3;
}

@media only screen and (min-width: 768px) {
.contain::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 52.82419rem;
  height: 100%;
  background-image: url('../public/assets/Vector.svg');
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 70%;
}
.back::before{
 content: "";
  position: absolute;
  top: 120px;
  left: -60px;
  width: 20rem;
  height: 100%;
  transform: rotate(360deg);
  background-image: url('../public/assets/Vector.svg');
  background-repeat: no-repeat;
  z-index: -1;
  opacity:10%;
background: 
		linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
	);
}
}